 
 
 span{
    margin: 50px;
    color: rgb(179, 179, 179);
}


.header{
    position: relative;
    background-color: rgb(246, 246, 246);
    border: solid rgb(246, 246, 246) 10px;
    padding: 0px 100px 0px 100px;
}

